<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
    <link rel="SHORTCUT ICON" href="../../../../../icon.ico" type="image/x-icon">
</head>

<body>
    <div class="header">
            <div class="site-btn-container" id="discord-button-container">

<button id="discordButton" class="site-btn discord" data-url="https://discord.gg/hfDdz8HegN"><img src="../../icons/discord.svg" alt=""></button>
            </div>
</div>
    <div class="top-section">
      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <a class="donate-btn" id="searchBtn" onclick="search()">Search</a>
    </div>  
    </div>

    <div class="main-section">
<div class="onboarding-tooltip onboarding-tooltip-size-medium">
  
        <div class="title-border">
 <div class="update-title">
    <div class="base">
 <div class="title">Update Note</div>
</div>

        </div>
            </div>
       
  
<div class="onboarding-tooltip-header">
            
            
        </div>
  
        <div class="onboarding-tooltip-content">
          <div class="container">
            
            <div class="caracterContent">
              <div class="content">
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="privateServers">
 <div class="title-container">
        <h2 id="bar-title">Server List</h2>
        <div class="site-btn-container" id="title-button-container"><button id="submitServerButton" class="site-btn" data-url="https://discord.gg/hfDdz8HegN">Submit a Server</button></div>
    </div>
    
        </div>
   

    </div>
    <div class="site-btn-container" id="github-button-container">
<button id="githubButton" class="site-btn github" data-url="https://github.com/retroblack26/OrbitClient"><img src="../../icons/github.svg" alt=""></button>
</div>
    <div class="footer">
        <p>OrbitClient 2024-2025.All rights reserved.</p>
    </div>
</html>